body {
    background-color: #CDFAD5;
}
h2 {
    text-align: center;
}

h3 {
    text-align: center;
    position: relative; 
    margin-left:auto;
    margin-right:auto;
    /*left: 750px; */
    color:black;
    font-size: 18px;
    font-family: font-family, 'Libre Baskerville', serif;
    padding-bottom: 20px;
   }

p {
    text-align: center;
}